.title-page {
	.slides {
		&:after {
			content: '19 Sep, 2016';
			position: absolute;
			right: 50px;
			bottom: 50px;
			color: $white;
		}
	}
}

.slides {
	.info {
		ul {
			text-align: center;
			
			p {
				margin-bottom: 0;
				font-size: 0.5em;
			}

			a {
				display: block;
			}
		}
	}
}

.title {
	h1 {
		font-size: 4em;
		text-shadow: 0 0 5px $darkGray;
	}

	div {
		max-width: 210px;
		margin: 0 auto -118px;

		img {
			width: 100%;
		}
	}
}

.agenda {
	div {
		ul {
			padding-left: 20%;
		}
	}
}

.end {
	h2 {
		color: $lightGray;
		font-size: 1.65em;
	}

	h4 {
		color: $darkGreen;
		font-size: 0.8em;

		span {
			font-size: 2em;
		}
	}
}