.transitions {
	.timing-functions {
		.wrapper {
			border: 2px solid $darkGray;

			div {
				width: 50%;
				height: 50px;
				background: $green;
				border-bottom: 1px solid $darkGray;
				font-size: 0.75em;
				line-height: 50px;
				transition-property: width;
				transition-duration: 5s;

				&:nth-of-type(1) {
					transition-timing-function: linear;
				}

				&:nth-of-type(2) {
					transition-timing-function: ease;
				}

				&:nth-of-type(3) {
					transition-timing-function: ease-in;
				}

				&:nth-of-type(4) {
					transition-timing-function: ease-out;
				}

				&:nth-of-type(5) {
					transition-timing-function: ease-in-out;
				}

				&:nth-of-type(6) {
					transition-timing-function: steps(4,start);
				}

				&:nth-of-type(7) {
					transition-timing-function: steps(4,end);
				}

				&:nth-of-type(8) {
					transition-timing-function: step-start;
				}

				&:nth-of-type(9) {
					transition-timing-function: step-end;
				}

				&:nth-of-type(10) {
					transition-timing-function: cubic-bezier(1,0,0,1);
				}
					
				&:last-child {
					border: none;
					transition-timing-function: cubic-bezier(1,-1,0.3,2);
				}
			}

			&:hover div {
				width: 100%;
			}
		}
	}

	.example {
		& > div {
			display: flex;
			height: 500px;
			justify-content: space-between;
			align-content: space-between;
			flex-wrap: wrap;
			
			& > div {
				width: 45%;
				height: 200px;
				background-color: $green; 

				span {
					display: inline-block;
					vertical-align: middle;
					max-width: 99%;
				}

				&:nth-of-type(1) {
					transition: background-color 3s ease-in-out;
				}

				&:nth-of-type(2) {
					transition-property: color, background-color;
					transition-duration: 2s;
					transition-delay: 2s;
					transition-timing-function: ease-in-out;
				}

				&:nth-of-type(3) {
					transition-property: color, background-color;
					transition-duration: 2s;
					transition-timing-function: cubic-bezier(0.3, -5, 0.7, 5);
				}

				&:nth-of-type(4) {
					transition-property: color, background-color;
					transition-duration: 2s;
					transition-timing-function: cubic-bezier(0, 1, 1, 0);
				}

				&:before {
					content: '';
					display: inline-block;
					vertical-align: middle;
					height: 100%;
					width: 0;
				}

				&:hover {
					background-color: $darkGray;
					color: $green;
				}
			}
		}
	}

	.ui-elements {
		div {
			display: flex;
			justify-content: space-around;

			ul {
				padding: 0;
				text-align: center;

				li {
					line-height: 1;
					margin-bottom: 10px;

					span {
						display: block;
						cursor: pointer;

						&.link {
							display: inline-block;
							vertical-align: bottom;
							color: $darkGray;
							font-size: 18px;
							line-height: 24px;
							text-decoration: underline;

							&:hover {
								color: $lightGray;
							}

							&:active {
								color: $darkGray;
								transition-duration: 0s;
							}
						}

						&.btn {
							color: $white;
							padding: 12px 60px;
							font-size: 18px;
							line-height: 24px;

							&.blue {
								background: $blue;

								&:hover {
									background: $darkBlue ;
								}

								&:active {
									background: $darkGray;
								}
							}

							&.green {
								background: $green;

								&:hover {
									background: $darkGreen ;
								}

								&:active {
									background: $darkGray;
								}
							}


							&.red {
								background: $red;

								&:hover {
									background: $darkRed ;
								}

								&:active {
									background: $darkGray;
								}
							}

							&.border {		
								padding: 10px 58px;
								color: $darkGray;
								background-color: transparent;
								border: 2px solid $darkGray;

								&:hover {
									border-color: $lightGray;
								}

								&:active {
									color: $white;
									border-color: transparent;
									background: $darkGray;
									padding: 11px 58px 9px;
								}
							}

							&:active {
								padding: 13px 60px 11px;
								transition-duration: 0s;
							}
						}
					}

					input {
						background: transparent;
						font-size: 18px;
						line-height: 24px;
						padding: 10px 20px;
						border: 2px solid $lightGray;
						outline: none;

						&:focus {	
							border: 2px solid $darkGray;
						}
					}
				}

				&.transition {
					li {
						* {
							transition-property: background, border, color;
							transition-duration: 0.2s;
							transition-timing-function: ease-in;
						}
					}
				}

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

	.jump {
		ul {
			display: flex;
			padding: 0;
			height: 500px;
			justify-content: space-between;
			align-content: space-between;
			flex-flow: row wrap;

			li {
				position: relative;
				top: 0;
				display: block;
				width: 30%;
				background-size: cover;
				transition: top 0.2s ease-out, -webkit-filter 0.2s ease-out, filter 0.2s ease-out;
				-webkit-filter: grayscale(1) blur(2px);
				filter: grayscale(1) blur(2px);

				div {
					position: relative;
					height: 200px;
					z-index: 3;
				}

				&:nth-child(even) {
					div {
						background: url(../img/cat.jpg) 50% 50% no-repeat;
					}

					&:after {
						background: $green;
					}

					&:before {
						background: $darkGreen;
					}
				}

				&:nth-child(odd) {
					div {
						background: url(../img/fishes.jpg) 50% 50% no-repeat;
					}

					&:after {
						background: $blue;
					}

					&:before {
						background: $darkBlue;
					}
				}
				

				&:before, &:after {
					content: '';
					display: block;
					position: absolute;
					height: 8px;
					transition: bottom 0.2s ease-out;			
				}

				&:before {
					left: 8px;
					right: 8px;
					bottom: -4px;
					z-index: 2;
				}

				&:after {
					left: 16px;
					right: 16px;
					bottom: -8px;
					z-index: 1;
				}

				&:hover {
					top: -8px;
					-webkit-filter: grayscale(0) blur(0);
					filter: grayscale(0) blur(0);

					&:before {
						bottom: -8px;
					}

					&:after {
						bottom: -16px;
					}
				}
			}
		}
	}
}